.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bs-gray-800);
    box-sizing: border-box;
    box-shadow: 0 0 0 1px var(--bs-gray-700);
    padding: 0.25rem;
    width: 100%;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    color: var(--bs-light);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: var(--bs-gray-900);
    font-weight: 600;
}